.top-background{
  background-image: url(https://nationalzoo.si.edu/sites/default/files/animals/slothbear-001.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 450px;
color:white;
text-shadow: 2px 0px 3px black,-2px 0px 3px black;
font-size: xx-large;
font-weight: bolder;
font-style: oblique;
background-color: black;
margin-bottom: -200px
}
.descript{font-size: large;}
.main-background{
  background-image: url(https://i.pinimg.com/originals/ed/a5/73/eda5739966cb33768d8ad0d77d7307ce.gif);
  min-height: 569px;
  min-width: 320px;
  background-attachment: fixed;
}
.cardsofnote{
  background-color: white;
  background-size: contain;
  font-size: x-large;
  text-align: center;
  box-shadow: 0px 0px 8px 10px rgba(0,0 ,0 ,.5 );
}
.logo1{
  color:#e44d26;
}
.logo2{
  color: #0375b8
}
.school{font-size: small;
font-weight: bold}
.coolicon{
  font-size: larger;
}